.signin-container {
  background-color: black;
  align-items: center;
  display: flex;
  padding: 100px;
  flex-direction: column;
  min-height: 80vh;
  margin-top: -70px;
}

.signin-wrapper {
  background-color: rgba(5, 5, 5, 0.5);
  width: 30vw;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  color: white;
  border: 1px solid #fa5437;
}

.signin-wrapper h1 {
  font-size: 24px;
  padding-bottom: 10px;
}

.input-fields {
  position: relative;
  border-radius: 45px;
  padding-left: 3vh;
  color: black;
  margin: 2vh;
  width: 23.5vw;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 30px;
}

.login-inputs {
  height: 4.5vh;
  border: none;
  padding: 1vh;
  padding-left: 40px; /* Adjust padding to accommodate icon */
  width: calc(100% - 20px); /* Adjust width to accommodate icon */
  border-radius: 45px;
  background-color: whitesmoke; /* Set background color to transparent */
  font-size: 15px; /* Adjust the font size */
}

.login-button {
  padding: 10px 40px;
  background-color: #fa5437;
  color: white;
  border: #fa5437;
  border-radius: 50px;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  width: 100%;
  max-width: 175px;
  cursor: pointer;
  margin-left: 120px;
  margin-bottom: 20px;
}

.media-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  width: 175px;
  cursor: pointer;
  font-size: 13px;
}

.social-media-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.register-link {
  color: white;
  margin-left: 5px;
}

.forgot-password-link {
  color: white;
  font-size: smaller;
  margin-left: 270px;
  background-color: black;
  border: none;
}

.register-link:hover,
.forgot-password-link:hover {
  color: #fa5437;
  text-decoration: underline;
  cursor: pointer;
}

.login-button:hover,
.media-btn:hover {
  background-color: rgb(92, 23, 2);
  color: #f4eba3;
}

.logo {
  width: 150px; /* Adjust the width as needed */
  margin-bottom: 15px; /* Add margin-bottom for spacing */
  transform: scale(1.5);
}
