body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #535252; /* Light background color */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #444444;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-dark {
  width: 100%;
  padding: 10px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: #212529;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}
