.reviews-section {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: -175px;
}

.reviews-section h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.review {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border: 1px solid  rgb(63, 62, 61);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #333232;
    transition: transform 0.3s ease; /* Add transition property */
}

.review:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
}

.reviews-list {
    display: flex;
    flex-wrap: wrap; /* Allow reviews to wrap to the next line */
    justify-content: space-between; /* Distribute reviews evenly */
}

.review h3 {
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
}

.review p {
    margin: 0;
    margin-left: 25px;
    line-height: 25px;
    text-align: justify;
}

.review-header {
    display: flex;
    align-items: center; /* Align items vertically */
}

.review-header .fas {
    margin-right: 10px; /* Adjust margin as needed */
}

.reviewer-name {
    margin-top: 15px;
    margin-bottom: 5px; /* Lower the reviewer name */
    font-size: 1.1rem; /* Make the reviewer name slightly bigger */
}

.review-header i {
    margin-right: 5px;
}

.read-more {
    margin-left: 3px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(125, 125, 125);
    font-size: 1rem;
    text-decoration: underline;
}
