.footer {
    background-color: #181818;
    color: rgb(95, 92, 92);
    position: relative;
}

.footer-container {
    display: grid;
    background-color: #181818;
    grid-template-rows: 0.7fr 2fr;
    grid-template-columns: 0.5fr 0.3fr 0.5fr;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #d9d2d2;
    padding-left: 110px;
    font-size: 20px;
    font-weight: bold;
}

.footer-content {
    display: flex;
    text-align: justify;
    justify-content: left;
    padding-left: 110px;
    padding-right: 20px;
    color: #868282;
    font-size: 13px;
    max-width: 70%;
    line-height: 20px;
}

.footer-section2 {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #d9d2d2;
    padding-left: 110px;
    font-size: 20px;
    font-weight: bold;
}

.footer-content2 {
    display: flex;
    text-align: justify;
    justify-content: left;
    padding-left: 130px;
    padding-right: 20px;
    color: #868282;
    font-size: 15px;
    max-width: 70%;
    line-height: 20px;
}

.footer-content2 li {
    margin-bottom: 10px;
}

.footer-section3 {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #d9d2d2;
    padding-left: 100px;
    font-size: 20px;
    font-weight: bold;
}

.footer-content3 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: flex-start;
    padding-left: 100px;
    padding-right: 20px;
    color: #868282;
    font-size: 13px;
    max-width: 58%;
    line-height: 20px;
} 

.footer-links a {
    text-decoration: none;
    color: #838383;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #f4eba3;;
}

.footer-links2 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.footer-links2 a {
    text-decoration: none;
    color: #838383;
    margin-right: 40px;
    font-size: 24px;
}

.footer-links2 a:hover {
    color: #f4eba3;;
}
