.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.movie__intro {
    width: 80%;
    position: relative;
    display: flex;
}

.movie__backdrop {
    width: 100%;
    height: 480px;
    object-fit:cover;
    object-position: 0 45%;
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 255px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width:275px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}

.movie__detailRightTop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: 1rem;
    position: relative;
    top: -2.5rem; /* Adjusted to move the elements up */
}

.movie__name {
    font-weight: 750;
    font-size: 2rem;
}

.movie__tagline {
    font-size: 1rem;
    font-style: italic;
}

.movie__rating {
    font-size: 1.75rem;
    font-weight: 500;
}

.movie__voteCount {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.5rem;
}

.movie__runtime {
    font-size: 1.25rem;
    font-weight: 500;
}

.movie__releaseDate {
    font-size: 1.25rem;
    font-weight: 500;
}

.movie__genres {
    margin-top: 1.5rem;
}

.movie__genre {
    padding: .3rem;
    border: 1.75px solid white;
    border-radius: 20px;
    margin-right: 0.75rem;
}

.playTrailerButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.45rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute; /* Position the button absolutely */
    top: 120px; /* Align the button to the top of its containing element */
    right: 0; /* Align the button to the right of its containing element */
}

.playTrailerButton svg {
    margin-right: 0.5rem;
}

.addToWatchlistButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.45rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 285px; /* Adjust top offset as needed */
    right: -35px; /* Adjust right offset as needed */
}

.addToWatchlistButton svg {
    margin-right: 0.5rem;
}

.rateButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.45rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 360px; /* Adjust top offset as needed to position it below the "Add to Watchlist" button */
    right: 15px;
}

.rateButton svg {
    margin-right: 0.5rem;
}

.rateButton:hover,
.addToWatchlistButton:hover,
.playTrailerButton:hover {
    text-decoration: underline;
    color: #f4eba3;
}

.movie__detailRightBottom {
    flex: 0.9;
    max-width: 60%;
    text-align: justify;
}

.movie__overview {
    font-size: 0.9rem;
    line-height: 1.5;
}

.movie__streamingPlatforms {
    position: absolute;
    top: 420px;
    right: 0px;
    padding: 20px;
    color: white;
}

.streamingPlatformsList {
    display: flex;
    flex-wrap: wrap;
}

.platform {
    padding: .3rem;
    border: 1.75px solid white;
    border-radius: 20px;
    margin-right: 0.75rem;
}

.topCast {
    width: 80%;
    position: relative;
    top: -175px;
}

.topCastText {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 45px;
    color: #f4eba3;
}

.topCastList {
    display: flex;
    flex-wrap: wrap;
}

.castItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;
    margin-bottom: 90px;
}

.castAvatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.castAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.castName {
    font-size: 0.9rem;
    margin-top: 15px;
    text-align: center;
}

.youtube-container {
    position: absolute;
    left: 0;
    right: 0;
    top: -300px;
    bottom: 0;
}

.trailerClose-button {
    margin: 20px 0;
    background: #0F1014;
    color: white;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid gray;
}

.trailerClose-button:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.close-video {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
}

input[type="radio"] {
    display: none;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10000;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #303030;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    height: auto;
    z-index: 10000;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 5px;
}

.rating-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.star {
    cursor: pointer;
}

.close-modal,
.submit-modal {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-modal {
    background-color: #fa5437;
    color: black;
}

.submit-modal {
    background-color: #4CAF50;
    color: black;
}

.close-modal:hover,
.submit-modal:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f4eba3;
}
