.profile-section {
    max-width: 80%;
    margin: 0 auto /* Center the content horizontally */
}

.card-wrapper {
    position: relative;
}

.empty-favorites {
    text-align: center;
    color: #fa5437;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 24.75rem);
    font-weight: bold;
    font-size: 1.25rem;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3%;
}

.sub-profile {
    margin: 0 auto; /* Center the content horizontally */
    display: flex; /* Set display to flex */
    margin-bottom: 10%;
}

.left-header,
.right-header {
    margin-bottom: 20px;
}

.left-header-container,
.right-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-top: 1.75%;
}

.left-header-container {
    margin-left: 20px;
}

.right-header-container {
    margin-left: 100px;
}

.left-card::before,
.right-card::before {
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 500;
    font-size: 120px;
    color: rgba(255, 217, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    pointer-events: none;
}

.right-card::before {
    content: '\f02e';
    font-size: 120px;
    color: rgba(26, 151, 234, 1);
}

.left-card,
.right-card {
    width: 200px;
    height: 150px;
    margin: 0 20px;
    overflow: hidden;
    transition: transform .2s;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-card:hover,
.right-card:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.left-card:hover .card-content p,
.right-card:hover .card-content p {
    color: rgba(250, 84, 55, 1); /* Change color to (250, 84, 55) when card is hovered */
}

.card-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.tag-cloud-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag-cloud {
    margin-top: -65px;
    margin-bottom: 25px;
}

.tag-cloud-item {
    position: relative;
    color: #f4eba3;
    cursor: pointer;
    font-size: 1.5em; /* Increase font size */
}

.tag-cloud-item:hover {
    color: #ff6347;
    font-weight: bold;
    text-transform: uppercase;
}

.user-info-card {
    width: 30%; /* Adjust the width as needed */
    margin: 20px 75px; /* Center horizontally with auto margin and add bottom margin */
    border: 1px solid rgb(63, 62, 61);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #151515;
    transition: transform 0.3s ease; /* Add transition property */
    text-align: center;
}

.user-info-card:hover {
    transform: scale(1.10); /* Scale up slightly on hover */
}

.user-info-card h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #ffffff;
    padding-top: 1.25%;
    margin-top: 10px;
}

.user-info-card p {
    margin: 1%;
    margin-left: 5%;
    color: rgb(238, 236, 236);
    font-size: 16px;
    text-align: left;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.icon-wrapper {
    color: rgb(0, 255, 153);
    margin-right: 5px;
    font-size: 20px;
}

.icon-wrapper2 {
    color: rgb(0, 217, 255);
    font-size: 20px;
    margin-left: auto;
}

.icon-wrapper2 :hover {
    cursor: pointer;
}

.input-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.input-wrapper label {
    margin: 20px;
    margin-left: 1px;
    font-weight: bold;
    color: #9b9b9b;
}

.name-field {
    width: 50%;
    padding: 10px;
    border: 1px solid #f4eba3;
    border-radius: 5px;
    resize: vertical;
    background-color: #818181;
}

.bio-field {
    width: 70%;
    padding: 10px;
    border: 1px solid #f4eba3;
    border-radius: 5px;
    margin-left: 50px;
    resize: vertical;
    background-color: #818181;
}

.name-field:focus,
.bio-field:focus {
    outline: none;
    border-color: #ff6347;
}