.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
    font-size: 1.5rem;
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    color: #f4eba3;
}

.list__cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}

.card-wrapper {
    position: relative;
}

.empty-message {
    text-align: center;
    color: #fa5437;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 24.75rem);
    font-weight: bold;
    font-size: 1.25rem;
}