.movie-list {
    padding: 0 3rem 3rem 3rem;
}

.list-title {
    font-size: 1.5rem;
    margin-top: 2.75rem;
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    color: #f4eba3;
}

.list-cards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
}